{{#partial "content"}}
    <div class="slide-container">

        <div class="wrapper">
            <div class="clash-card barbarian">
                <div class="clash-card__image clash-card__image--barbarian">
                    <img src="images/hero.jpg" alt="" />
                </div>
                <div class="clash-card__unit-name">HERO CREATED</div>

                <div class="clash-card__unit-description">
                    <p><strong>Hero Name: -</strong>SUPER GIRL </p>

                    <p><strong>Hero's Squad: -</strong>MAGIC</p>

                    <p><strong>Hero's Power: -</strong>POWERFUL</p>

                    <p><strong>Hero's Weakness: -</strong>FAMILY</p>

                    <p><strong>Hero's Age: -</strong>100</p>

                    <a href="hero/{{id}}" class="btns">Learn More</a>
                    <a href="/squad" class="btns">Add {{ name }} To Squad</a>

                </div>

            </div>
        </div>
    </div>

    </div> <!-- end clash-card barbarian-->
    </div> <!-- end wrapper -->
{{/partial}}

{{> layout.hbs}}
