{{#partial "content"}}
    <section class="landing-pg">
        <div class="land-left">
        </div>
        <div class="land-right">
        </div>
        <div class="hero-img">
        </div>
        <div class="hero-desc">

            <section class="home text-center" style="margin-top:20%;">
                <h1>HERO SQUAD</h1>
                <h3>In this app, you can register a hero and assign that Hero to a any squad</h3>

                <a href="/hero-form" class="btn btn-success">Register Hero</a>
            </section>

        </div>
    </section>
{{/partial}}
{{> layout.hbs}}