{{#partial "content"}}
    <div class="text-center">
    <div class="landing-pg">
        <form class="form" action="/squad/new" method="post">
            <h1>Create Your Squad</h1>
            <label>Enter the squad name</label><br>
            <input type="text"  name="squadName" required><br>
            <label>Enter the max size</label><br>
            <input type="number" name="size" required><br>
            <label>Enter mission</label><br>
            <input type="text" name="cause" required><br>
            <input type="submit" class="btn btn-success">
        </form>
    </div>
    </div>
    </section>
{{/partial}}
{{> layout.hbs}}